<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue 练习4</title>
</head>
<body>

  <div id="app" v-cloak>
    <p v-cloak>Message is: {{ msg }}</p>
    <input name="msg" v-model.lazy="msg" placeholder="edit me"/>   <!-- v-model 表单控件双重绑定 -->
    <br/>
    <br/>
    <!-- 单个勾选框，逻辑值: -->
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <br/>
    <br/>
    <!-- 多个勾选框，绑定到同一个数组： -->
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span v-cloak>Checked names: {{ checkedNames }}</span>
  </div>

  <script src="./vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        msg: '',
        checked: true,
        checkedNames: ['Mike']
      }
    })
  </script>
</body>
</html>
